<!DOCTYPE html>
<html lang="eng">

<head>
    <link rel="icon" href="/img/weather.png">
    <!-- Use the absolute path (path starting with '/') to be sure to access the static files of the application correctly
      which are contained in the 'public' folder
    -->
    <!-- Link the 'styles.css' file for style of the web-page -->
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/utils.js"></script>
    <title>About</title>
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by Gabriele Del Monte.</p>
    <p>It uses data from <a href="https://mapbox.com" target="_blank">mapbox.com</a> and <a href="https://darksky.net"
                                                                                            target="_blank">darksky.net</a>
    </p>
    <img class="portrait" src="/img/pic.jpg" alt="/img/pic.jpg">
</div>

{{>footer}}
</body>

</html>